@model AppSistemaReservasRestaurente.Models.Cliente

@{
    ViewData["Title"] = "Detalles Cliente";
}

<div class="custom-panel-clientes small-panel">
    <h2 class="text-light text-center">🔍 Detalles Cliente</h2>
    <hr />
    <dl class="row text-light">
        <dt class="col-sm-3">Nombre</dt>
        <dd class="col-sm-9">@Model.Nombre_Cliente</dd>

        <dt class="col-sm-3">Teléfono</dt>
        <dd class="col-sm-9">@Model.Telefono</dd>

        <dt class="col-sm-3">DNI</dt>
        <dd class="col-sm-9">@Model.DNI</dd>

        <dt class="col-sm-3">Usuario</dt>
        <dd class="col-sm-9">@Model.Usuario?.Id</dd>
    </dl>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID_Cliente" class="btn btn-warning">✏️ Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Volver</a>
    </div>
</div>
