@model IEnumerable<AppSistemaReservasRestaurente.Models.Cliente>

@{
    ViewData["Title"] = "Gestión de Clientes";
}

<div class="custom-container">
    <div class="custom-panel-clientes ">
        <h2 class="custom-title text-light text-center">Gestión de Clientes</h2>
        
        <table class="custom-tablec">
            <thead>
                <tr>
                    <th>N° Cliente</th>
                    <th>@Html.DisplayNameFor(model => model.Nombre_Cliente)</th>
                    <th>@Html.DisplayNameFor(model => model.Telefono)</th>
                    <th>@Html.DisplayNameFor(model => model.DNI)</th>
                    <th>Usuario</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID_Cliente</td>
                        <td>@item.Nombre_Cliente</td>
                        <td>@item.Telefono</td>
                        <td>@item.DNI</td>
                        <td>@item.Usuario?.Id</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID_Cliente" class="btn btn-warning btn-sm">✏️ Editar</a>
                            <a asp-action="Details" asp-route-id="@item.ID_Cliente" class="btn btn-info btn-sm">🔍 Detalles</a>
                            @* <a asp-action="Delete" asp-route-id="@item.ID_Cliente" class="btn btn-danger btn-sm">🗑️ Eliminar</a> *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
