@model IEnumerable<AppSistemaReservasRestaurente.Models.Mesa>

@{
    ViewData["Title"] = "Gestión de Mesas";
}

<div class="custom-container">
    <div class="custom-panel-mesas">
        <h2 class="custom-title text-light text-center">Gestión de Mesas</h2>
        <p class="text-center mb-4">
            <a asp-action="Create" class="btn btn-success btn-lg">➕ Crear Nueva Mesa</a>
        </p>
        <table class="custom-tablem">
            <thead>
                <tr>
                    <th>N° Mesa</th>
                    <th>@Html.DisplayNameFor(model => model.Capacidad)</th>
                    <th>@Html.DisplayNameFor(model => model.Zona)</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID_Mesa</td>
                        <td>@item.Capacidad</td>
                        <td>@item.Zona</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID_Mesa" class="btn btn-warning btn-sm">✏️ Editar</a>
                            <a asp-action="Details" asp-route-id="@item.ID_Mesa" class="btn btn-info btn-sm">🔍 Detalles</a>
                            <a asp-action="Delete" asp-route-id="@item.ID_Mesa" class="btn btn-danger btn-sm">🗑️ Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
