@model AppSistemaReservasRestaurente.Models.Reserva

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reserva</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- ID Cliente (oculto) -->
            <input type="hidden" asp-for="ID_Cliente" value="@ViewBag.Cliente.ID_Cliente" />

            <!-- Nombre Cliente -->
            <div class="form-group">
                <label>Nombre</label>
                <input class="form-control" value="@ViewBag.Cliente.Nombre_Cliente" readonly />
            </div>

            <!-- Teléfono -->
            <div class="form-group">
                <label>Teléfono</label>
                <input class="form-control" value="@ViewBag.Cliente.Telefono" readonly />
            </div>

            <!-- Correo -->
            <div class="form-group">
                <label>Correo</label>
                <input class="form-control" value="@ViewBag.Correo" readonly />
            </div>

            <!-- DNI -->
            <div class="form-group">
                <label>DNI</label>
                <input class="form-control" value="@ViewBag.Cliente.DNI" readonly />
            </div>

            <!-- Mesa -->
            <div class="form-group">
                <label asp-for="ID_Mesa" class="control-label"></label>
                <select asp-for="ID_Mesa" class="form-control" asp-items="ViewBag.ID_Mesa"></select>
            </div>

            <!-- Horario -->
            <div class="form-group">
                <label asp-for="ID_Horario" class="control-label"></label>
                <select asp-for="ID_Horario" class="form-control" asp-items="ViewBag.ID_Horario"></select>
            </div>

            <!-- Fecha -->
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" type="date" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>

            <!-- Cantidad Personas -->
            <div class="form-group">
                <label asp-for="Cantidad_Personas" class="control-label"></label>
                <input asp-for="Cantidad_Personas" class="form-control" />
                <span asp-validation-for="Cantidad_Personas" class="text-danger"></span>
            </div>

            <!-- Estado -->
            <input type="hidden" asp-for="Estado" value="Pendiente" />

            <div class="form-group">
                <input type="submit" value="Confirmar Reserva" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
