@model IEnumerable<AppSistemaReservasRestaurente.Models.Reserva>

@{
    ViewData["Title"] = "Indexx";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumPersonas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumPersonas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.ClienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mesa.MesaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario.HorarioId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReservaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReservaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReservaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
